/.vs
/comercial/bin
/comercial/bin
/restApi/obj
/restApi/obj
/comercial/bin
/comercial/bin/Debug
/comercial/bin/Debug
/restApi/obj/Release
/comercial/bin/Debug
/comercial/bin
/comercial/bin
comercial/bin/Debug/comercial.dll
